<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tambah Mahasiswa</title>
</head>
<body>
  <h1>Tambah Mahasiswa</h1>

    <%- locals.errors %> <br>

  <form action="" method="POST">
    <label for="nim">Nim :</label>
    <input type="text" name="nim" id="nim" value="070121212"> <br>
    <label for="nama">Nama :</label>
    <input type="text" name="nama" id="nama" value="test add"> <br>
    <label for="stambuk">Stambuk :</label>
    <input type="number" name="stambuk" id="stambuk" value="2020"> <br>
    <button>Submit</button>
  </form>
  
</body>
</html>